bin 
obj
TestResults
Supervisor/obj/project.nuget.cache
Supervisor/obj/project.assets.json
Supervisor/obj/Supervisor.csproj.nuget.dgspec.json 
Supervisor/SupervisorConsole.csproj
LibaryCore/LibaryCore.csproj
vs/Supervisor/v16/TestStore
vs/Supervisor/v16/.suo
.vs/Supervisor/v16/TestStore/0/001.testlog
.vs/Supervisor/v16/.suo